name: pull-request-checks

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  pull-request-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setUp node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: install dependencies
        run: yarn install

      - name: Run lint
        run: yarn lint

      - name: Run Typescript compiler
        run: yarn tsc --noEmit

      - name: Run Test
        run: yarn test
